@using PagedList.Mvc
@using AdminPanel.Models
@model AdminPanel.Models.DriverListingModel

@{
    ViewBag.Title = "Driver Advance Search";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<section class="content-header">
    <h1>
        Drivers
        <small>List & Search</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Admin/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Drivers</li>
    </ol>
</section>

@Html.AntiForgeryToken()

@using (Html.BeginForm("QueryString", "Driver", routeValues: new { returnvalue = Request.QueryString.ToString() }))
{

    <section class="content">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                <div class="panel-body">

                    <div class="form-horizontal">
                        <h4 class="panel-title">Driver Advance Search</h4>
                        <hr />

                        <div class="row form-group">
                            <div class="col-md-6">
                                <div class="control-label col-md-2">
                                    <label>Name</label>
                                </div>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="control-label col-md-2">
                                    <label>Mobile</label>
                                </div>
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-6">
                                <div class="control-label col-md-2">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="control-label col-md-2">
                                    <label>Gender</label>
                                </div>
                                <div class="col-md-4" style="width:30%">
                                    @Html.DropDownListFor(model => model.Gender, Model.listGender, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 form-group" style="margin-bottom:0px">
                                <div class="col-md-6" style="padding-right:48px">
                                    <div class="control-label col-md-6">
                                        <label>Mobile Verified</label>
                                    </div>
                                    <div>
                                        <div class="col-md-6 no-margin no-padding">
                                            @Html.DropDownListFor(model => model.IsMobileVerified, Model.listIsMobileVerified, new { @class = "form-control", @style = "margin-left:9px" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                </div>

                                <div class="col-md-4 no-padding">
                                    <div class="control-label col-md-3">
                                        <label>Active</label>
                                    </div>
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(model => model.IsActive, Model.listIsActive, new { @class = "form-control", @style = "margin-left:14px" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="control-label col-md-2">
                                    <label style="margin-left:29px">Verified</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(model => model.IsVerified, Model.listIsVerified, new { @class = "form-control", @style = "margin-left:30px" })
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 form-group" style="margin-bottom:0px">
                                <div class="col-md-6" style="padding-right:48px">
                                    <div class="control-label col-md-6">
                                        <label>Available</label>
                                    </div>
                                    <div>
                                        <div class="col-md-6 no-margin no-padding">
                                            @Html.DropDownListFor(model => model.IsAvaiable, Model.listIsAvaiable, new { @class = "form-control", @style = "margin-left:9px" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                </div>

                                <div class="col-md-4 no-padding">
                                    <div class="control-label col-md-3">
                                        <label>On Ride</label>
                                    </div>
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(model => model.IsOnRide, Model.listIsOnRide, new { @class = "form-control", @style = "margin-left:14px" })
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row form-group">
                            <div class="text-center">
                                <button type="submit" id="btnSearch" class="btn btn-primary" style="width:85px">
                                    <i class="fa fa-search "></i>
                                    Search
                                </button>
                                <button type="reset" id="btnReset" class="btn btn-default" style="width:85px">
                                    Reset
                                </button>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-6">
                            <h4 class="panel-title"> Drivers </h4>
                        </div>
                    </div>
                </div>
                @********************************GRID TABLE**************************************@
                <div class="box">
                    <div class="box-header">
                        <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                            @Model.TotalRecordCount entries found
                        </div>
                        <div class="box-tools">
                            <ul class="pagination pagination-sm no-margin pull-right">
                                @if (Model.CurrentPage > 1)
                                {
                                    <li>
                                        <a href="?pg=@(Model.CurrentPage > 1 ? (Model.CurrentPage - 1) : Model.CurrentPage)&orderby=@(Request.QueryString["orderby"] == null ? "Name" : Request.QueryString["orderby"])&dir=@(Request.QueryString["dir"] == null ? "asc" : Request.QueryString["dir"])&Name=@(Request.QueryString["Name"] != null ? Request.QueryString["Name"] : "")&Email=@(Request.QueryString["Email"] != null ? Request.QueryString["Email"] : "")&Mobile=@(Request.QueryString["Mobile"] != null ? Request.QueryString["Mobile"] : "")&Gender=@(Request.QueryString["Gender"] != null ? Request.QueryString["Gender"] : "")&IsMobileVerified=@(Request.QueryString["IsMobileVerified"] != null ? Request.QueryString["IsMobileVerified"] : null)&IsActive=@(Request.QueryString["IsActive"] != null ? Request.QueryString["IsActive"] : "")&IsVerified=@(Request.QueryString["IsVerified"] != null ? Request.QueryString["IsVerified"] : "")&IsAvaiable=@(Request.QueryString["IsAvaiable"] != null ? Request.QueryString["IsAvaiable"] : "")&IsOnRide=@(Request.QueryString["IsOnRide"] != null ? Request.QueryString["IsOnRide"] : "")"> &laquo;</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="disabled">
                                        <a href="javascript:void(0);">&laquo;</a>
                                    </li>
                                }
                                @if (Model.TotalPageCount > 0)
                                {
                                    for (int i = (Model.CurrentPage > 3 ? (Model.CurrentPage - 2) : 1); i < (Model.CurrentPage > 3 ? (Model.CurrentPage) + 3 : 6); i++)
                                    {
                                        if (Model.TotalPageCount >= i)
                                        {
                                            <li class="@(i == (Model.CurrentPage) ? "active" : "")">
                                                <a class="@(i == (Model.CurrentPage) ? "selected" : "")" href="?pg=@i&orderby=@(Request.QueryString["orderby"] == null ? "Name" : Request.QueryString["orderby"])&dir=@(Request.QueryString["dir"] == null ? "asc" : Request.QueryString["dir"])&Name=@(Request.QueryString["Name"] != null ? Request.QueryString["Name"] : "")&Email=@(Request.QueryString["Email"] != null ? Request.QueryString["Email"] : "")&Mobile=@(Request.QueryString["Mobile"] != null ? Request.QueryString["Mobile"] : "")&Gender=@(Request.QueryString["Gender"] != null ? Request.QueryString["Gender"] : "")&IsMobileVerified=@(Request.QueryString["IsMobileVerified"] != null ? Request.QueryString["IsMobileVerified"] : null)&IsActive=@(Request.QueryString["IsActive"] != null ? Request.QueryString["IsActive"] : "")&IsVerified=@(Request.QueryString["IsVerified"] != null ? Request.QueryString["IsVerified"] : "")&IsAvaiable=@(Request.QueryString["IsAvaiable"] != null ? Request.QueryString["IsAvaiable"] : "")&IsOnRide=@(Request.QueryString["IsOnRide"] != null ? Request.QueryString["IsOnRide"] : "")">@(i)</a>
                                            </li>
                                        }
                                    }
                                }
                                @if (Model.CurrentPage < Model.TotalPageCount)
                                {
                                    <li>
                                        <a href="?pg=@(Model.TotalPageCount == Model.CurrentPage ? (Model.TotalPageCount).ToString() : (Model.CurrentPage + 1).ToString())&orderby=@(Request.QueryString["orderby"] == null ? "Name" : Request.QueryString["orderby"])&dir=@(Request.QueryString["dir"] == null ? "asc" : Request.QueryString["dir"])&Name=@(Request.QueryString["Name"] != null ? Request.QueryString["Name"] : "")&Email=@(Request.QueryString["Email"] != null ? Request.QueryString["Email"] : "")&Mobile=@(Request.QueryString["Mobile"] != null ? Request.QueryString["Mobile"] : "")&Gender=@(Request.QueryString["Gender"] != null ? Request.QueryString["Gender"] : "")&IsMobileVerified=@(Request.QueryString["IsMobileVerified"] != null ? Request.QueryString["IsMobileVerified"] : null)&IsActive=@(Request.QueryString["IsActive"] != null ? Request.QueryString["IsActive"] : "")&IsVerified=@(Request.QueryString["IsVerified"] != null ? Request.QueryString["IsVerified"] : "")&IsAvaiable=@(Request.QueryString["IsAvaiable"] != null ? Request.QueryString["IsAvaiable"] : "")&IsOnRide=@(Request.QueryString["IsOnRide"] != null ? Request.QueryString["IsOnRide"] : "")"> &raquo;</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="disabled"><a href="javascript:void(0);">&raquo;</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <table class="table">
                            <tr>
                                <th class="@(Request.QueryString["orderby"] != null && (Request.QueryString["orderby"] == "Name" && Request.QueryString["dir"] == "asc") ? "sorting_asc" :(Request.QueryString["orderby"] != null && (Request.QueryString["orderby"] == "Name" && Request.QueryString["dir"] == "desc") ? "sorting_desc" : "sorting"))"><a href="?pg=@(Request.QueryString["pg"] == null ? "1" : Request.QueryString["pg"])&orderby=Name&dir=@(Request.QueryString["dir"] == null ? "desc" : (Request.QueryString["dir"] == "asc" ? "desc" : "asc"))&Name=@(Request.QueryString["Name"] != null ? Request.QueryString["Name"] : "")&Email=@(Request.QueryString["Email"] != null ? Request.QueryString["Email"] : "")&Mobile=@(Request.QueryString["Mobile"] != null ? Request.QueryString["Mobile"] : "")&Gender=@(Request.QueryString["Gender"] != null ? Request.QueryString["Gender"] : "")&IsMobileVerified=@(Request.QueryString["IsMobileVerified"] != null ? Request.QueryString["IsMobileVerified"] : null)&IsActive=@(Request.QueryString["IsActive"] != null ? Request.QueryString["IsActive"] : "")&IsVerified=@(Request.QueryString["IsVerified"] != null ? Request.QueryString["IsVerified"] : "")&IsAvaiable=@(Request.QueryString["IsAvaiable"] != null ? Request.QueryString["IsAvaiable"] : "")&IsOnRide=@(Request.QueryString["IsOnRide"] != null ? Request.QueryString["IsOnRide"] : "")">Name</a></th>

                                <th class="@(Request.QueryString["orderby"] != null && (Request.QueryString["orderby"] == "Email" && Request.QueryString["dir"] == "asc") ? "sorting_asc" :
(Request.QueryString["orderby"] != null && (Request.QueryString["orderby"] == "Email" && Request.QueryString["dir"] == "desc") ? "sorting_desc" : "sorting"))">
                                    <a href="?pg=@(Request.QueryString["pg"] == null ? "1" : Request.QueryString["pg"])&orderby=Email&dir=@(Request.QueryString["dir"] == null ? "desc" : (Request.QueryString["dir"] == "asc" ? "desc" : "asc"))&Name=@(Request.QueryString["Name"] != null ? Request.QueryString["Name"] : "")&Email=@(Request.QueryString["Email"] != null ? Request.QueryString["Email"] : "")&Mobile=@(Request.QueryString["Mobile"] != null ? Request.QueryString["Mobile"] : "")&Gender=@(Request.QueryString["Gender"] != null ? Request.QueryString["Gender"] : "")&IsMobileVerified=@(Request.QueryString["IsMobileVerified"] != null ? Request.QueryString["IsMobileVerified"] : null)&IsActive=@(Request.QueryString["IsActive"] != null ? Request.QueryString["IsActive"] : "")&IsVerified=@(Request.QueryString["IsVerified"] != null ? Request.QueryString["IsVerified"] : "")&IsAvaiable=@(Request.QueryString["IsAvaiable"] != null ? Request.QueryString["IsAvaiable"] : "")&IsOnRide=@(Request.QueryString["IsOnRide"] != null ? Request.QueryString["IsOnRide"] : "")">Email</a>
                                </th>

                                <th class="@(Request.QueryString["orderby"] != null && (Request.QueryString["orderby"] == "Mobile" && Request.QueryString["dir"] == "asc") ? "sorting_asc" :
(Request.QueryString["orderby"] != null && (Request.QueryString["orderby"] == "Mobile" && Request.QueryString["dir"] == "desc") ? "sorting_desc" : "sorting"))">
                                    <a href="?pg=@(Request.QueryString["pg"] == null ? "1" : Request.QueryString["pg"])&orderby=Mobile&dir=@(Request.QueryString["dir"] == null ? "desc" : (Request.QueryString["dir"] == "asc" ? "desc" : "asc"))&Name=@(Request.QueryString["Name"] != null ? Request.QueryString["Name"] : "")&Email=@(Request.QueryString["Email"] != null ? Request.QueryString["Email"] : "")&Mobile=@(Request.QueryString["Mobile"] != null ? Request.QueryString["Mobile"] : "")&Gender=@(Request.QueryString["Gender"] != null ? Request.QueryString["Gender"] : "")&IsMobileVerified=@(Request.QueryString["IsMobileVerified"] != null ? Request.QueryString["IsMobileVerified"] : null)&IsActive=@(Request.QueryString["IsActive"] != null ? Request.QueryString["IsActive"] : "")&IsVerified=@(Request.QueryString["IsVerified"] != null ? Request.QueryString["IsVerified"] : "")&IsAvaiable=@(Request.QueryString["IsAvaiable"] != null ? Request.QueryString["IsAvaiable"] : "")&IsOnRide=@(Request.QueryString["IsOnRide"] != null ? Request.QueryString["IsOnRide"] : "")">Mobile</a>
                                </th>

                                <th class="@(Request.QueryString["orderby"] != null && (Request.QueryString["orderby"] == "Gender" && Request.QueryString["dir"] == "asc") ? "sorting_asc" :
(Request.QueryString["orderby"] != null && (Request.QueryString["orderby"] == "Gender" && Request.QueryString["dir"] == "desc") ? "sorting_desc" : "sorting"))">
                                    <a href="?pg=@(Request.QueryString["pg"] == null ? "1" : Request.QueryString["pg"])&orderby=Gender&dir=@(Request.QueryString["dir"] == null ? "desc" : (Request.QueryString["dir"] == "asc" ? "desc" : "asc"))&Name=@(Request.QueryString["Name"] != null ? Request.QueryString["Name"] : "")&Email=@(Request.QueryString["Email"] != null ? Request.QueryString["Email"] : "")&Mobile=@(Request.QueryString["Mobile"] != null ? Request.QueryString["Mobile"] : "")&Gender=@(Request.QueryString["Gender"] != null ? Request.QueryString["Gender"] : "")&IsMobileVerified=@(Request.QueryString["IsMobileVerified"] != null ? Request.QueryString["IsMobileVerified"] : null)&IsActive=@(Request.QueryString["IsActive"] != null ? Request.QueryString["IsActive"] : "")&IsVerified=@(Request.QueryString["IsVerified"] != null ? Request.QueryString["IsVerified"] : "")&IsAvaiable=@(Request.QueryString["IsAvaiable"] != null ? Request.QueryString["IsAvaiable"] : "")&IsOnRide=@(Request.QueryString["IsOnRide"] != null ? Request.QueryString["IsOnRide"] : "")">Gender</a>
                                </th>

                                <th class="@(Request.QueryString["orderby"] != null && (Request.QueryString["orderby"] == "IsVerified" && Request.QueryString["dir"] == "asc") ? "sorting_asc" :
(Request.QueryString["orderby"] != null && (Request.QueryString["orderby"] == "IsVerified" && Request.QueryString["dir"] == "desc") ? "sorting_desc" : "sorting"))">
                                    <a href="?pg=@(Request.QueryString["pg"] == null ? "1" : Request.QueryString["pg"])&orderby=IsVerified&dir=@(Request.QueryString["dir"] == null ? "desc" : (Request.QueryString["dir"] == "asc" ? "desc" : "asc"))&Name=@(Request.QueryString["Name"] != null ? Request.QueryString["Name"] : "")&Email=@(Request.QueryString["Email"] != null ? Request.QueryString["Email"] : "")&Mobile=@(Request.QueryString["Mobile"] != null ? Request.QueryString["Mobile"] : "")&Gender=@(Request.QueryString["Gender"] != null ? Request.QueryString["Gender"] : "")&IsMobileVerified=@(Request.QueryString["IsMobileVerified"] != null ? Request.QueryString["IsMobileVerified"] : null)&IsActive=@(Request.QueryString["IsActive"] != null ? Request.QueryString["IsActive"] : "")&IsVerified=@(Request.QueryString["IsVerified"] != null ? Request.QueryString["IsVerified"] : "")&IsAvaiable=@(Request.QueryString["IsAvaiable"] != null ? Request.QueryString["IsAvaiable"] : "")&IsOnRide=@(Request.QueryString["IsOnRide"] != null ? Request.QueryString["IsOnRide"] : "")">Verified</a>
                                </th>

                                <th>Status</th>
                                <th>Plate Number</th>
                                <th>Actions</th>
                            </tr>
                            @if (Model.lstDriverListingData.Select(p => new { p.Name, p.Email, p.Mobile, p.Gender, p.IsMobileVerified, p.IsActive, p.IsVerified, p.IsAvaiable, p.IsOnRide, p.DriverId, p.PlatNumber }).Distinct().Any())
                            {
		                        foreach (var item in Model.lstDriverListingData.Select(p => new { p.Name, p.Email, p.Mobile, p.Gender, p.IsMobileVerified, p.IsActive, p.IsVerified, p.IsAvaiable, p.IsOnRide, p.DriverId, p.PlatNumber }).Distinct())
                                {
                                    <tr>
                                        <td>
                                            <a href='@Url.Action("Details", "Driver", new { controller = "Driver", driverID = @item.DriverId })'>
                                                @item.Name
                                            </a>
                                        </td>
                                        <td>@item.Email</td>
                                        <td>@item.Mobile</td>
                                        <td>@item.Gender</td>

                                        <td>
                                            @(item.IsVerified == 1 ? "Pending" : item.IsVerified == 2 ? "InProcess" : item.IsVerified == 3 ? "Declined" : item.IsVerified == 4 ? "Accepted" : "NOT SPECIFIED")
                                        </td>
                                        <td>
                                            @if (@item.IsMobileVerified)
                                            {
                                                <img class="icon" src="~/Content/Icons/go.ico" width="18" height="18">
                                                //<i class="fa fa-check-circle"></i>
                                            }
                                            else
                                            {
                                                <img class="icon" src="~/Content/Icons/stop.ico" width="18" height="18">
                                                //<i class="fa fa-times-circle"></i>
                                            }
                                            Mobile Varified
                                            <br>

                                            @if (@item.IsActive)
                                            {

                                                <img class="icon" src="~/Content/Icons/go.ico" width="18" height="18">
                                            }
                                            else
                                            {
                                                <img class="icon" src="~/Content/Icons/stop.ico" width="18" height="18">
                                            }
                                            Active
                                            <br>


                                            @if (@item.IsAvaiable)
                                            {

                                                <img class="icon" src="~/Content/Icons/go.ico" width="18" height="18">
                                            }
                                            else
                                            {
                                                <img class="icon" src="~/Content/Icons/stop.ico" width="18" height="18">
                                            }
                                            Avaiable
                                            <br>

                                            @if (@item.IsOnRide)
                                            {

                                                <img class="icon" src="~/Content/Icons/go.ico" width="18" height="18">
                                            }
                                            else
                                            {
                                                <img class="icon" src="~/Content/Icons/stop.ico" width="18" height="18">
                                            }
                                            On Ride
                                            <br>


                                        </td>
                                        <td align="center">@item.PlatNumber</td>
                                        <td>
                                            <a data-placement="top" data-toggle="tooltip" title="Detail" href='@Url.Action("Details", "Driver", new { controller = "Driver", driverID = @item.DriverId })'><span class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-info-sign"></span></span></a>
                                            <a data-placement="top" data-toggle="tooltip" title="Edit" href='@Url.Action("Edit", "Driver", new { controller = "Driver", driverID = @item.DriverId })'><span class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></span></a>
                                            <a data-placement="top" data-toggle="tooltip" title="Delete" href='@Url.Action("Delete", "Driver", new { controller = "Driver", driverID = @item.DriverId })'><span class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></span></a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="8">
                                        No Record Found
                                    </td>
                                </tr>
                            }

                        </table>

                    </div>
                    <div class="box-footer">
                        @Model.TotalRecordCount entries found
                        <ul class="pagination pagination-sm no-margin pull-right">
                            @if (Model.CurrentPage > 1)
                            {
                                <li>
                                    <a href="?pg=@(Model.CurrentPage > 1 ? (Model.CurrentPage - 1) : Model.CurrentPage)&orderby=@(Request.QueryString["orderby"] == null ? "Name" : Request.QueryString["orderby"])&dir=@(Request.QueryString["dir"] == null ? "asc" : Request.QueryString["dir"])&Name=@(Request.QueryString["Name"] != null ? Request.QueryString["Name"] : "")&Email=@(Request.QueryString["Email"] != null ? Request.QueryString["Email"] : "")&Mobile=@(Request.QueryString["Mobile"] != null ? Request.QueryString["Mobile"] : "")&Gender=@(Request.QueryString["Gender"] != null ? Request.QueryString["Gender"] : "")&IsMobileVerified=@(Request.QueryString["IsMobileVerified"] != null ? Request.QueryString["IsMobileVerified"] : null)&IsActive=@(Request.QueryString["IsActive"] != null ? Request.QueryString["IsActive"] : "")&IsVerified=@(Request.QueryString["IsVerified"] != null ? Request.QueryString["IsVerified"] : "")&IsAvaiable=@(Request.QueryString["IsAvaiable"] != null ? Request.QueryString["IsAvaiable"] : "")&IsOnRide=@(Request.QueryString["IsOnRide"] != null ? Request.QueryString["IsOnRide"] : "")"> &laquo;</a>
                                </li>
                            }
                            else
                            {
                                <li class="disabled">
                                    <a href="javascript:void(0);"> &laquo;</a>
                                </li>
                            }
                            @if (Model.TotalPageCount > 0)
                            {
                                for (int i = (Model.CurrentPage > 3 ? (Model.CurrentPage - 2) : 1); i < (Model.CurrentPage > 3 ? (Model.CurrentPage) + 3 : 6); i++)
                                {
                                    if (Model.TotalPageCount >= i)
                                    {
                                        <li class="@(i == (Model.CurrentPage) ? "active" : "")">
                                            <a class="@(i == (Model.CurrentPage) ? "selected" : "")" href="?pg=@i&orderby=@(Request.QueryString["orderby"] == null ? "Name" : Request.QueryString["orderby"])&dir=@(Request.QueryString["dir"] == null ? "asc" : Request.QueryString["dir"])&Name=@(Request.QueryString["Name"] != null ? Request.QueryString["Name"] : "")&Email=@(Request.QueryString["Email"] != null ? Request.QueryString["Email"] : "")&Mobile=@(Request.QueryString["Mobile"] != null ? Request.QueryString["Mobile"] : "")&Gender=@(Request.QueryString["Gender"] != null ? Request.QueryString["Gender"] : "")&IsMobileVerified=@(Request.QueryString["IsMobileVerified"] != null ? Request.QueryString["IsMobileVerified"] : null )&IsActive=@(Request.QueryString["IsActive"] != null ? Request.QueryString["IsActive"] : "")&IsVerified=@(Request.QueryString["IsVerified"] != null ? Request.QueryString["IsVerified"] : "")&IsAvaiable=@(Request.QueryString["IsAvaiable"] != null ? Request.QueryString["IsAvaiable"] : "")&IsOnRide=@(Request.QueryString["IsOnRide"] != null ? Request.QueryString["IsOnRide"] : "")">@(i)</a>
                                        </li>
                                    }
                                }
                            }
                            @if (Model.CurrentPage < Model.TotalPageCount)
                            {
                                <li>
                                    <a href="?pg=@(Model.TotalPageCount == Model.CurrentPage ? (Model.TotalPageCount).ToString() : (Model.CurrentPage + 1).ToString())&orderby=@(Request.QueryString["orderby"] == null ? "Name" : Request.QueryString["orderby"])&dir=@(Request.QueryString["dir"] == null ? "asc" : Request.QueryString["dir"])&Name=@(Request.QueryString["Name"] != null ? Request.QueryString["Name"] : "")&Email=@(Request.QueryString["Email"] != null ? Request.QueryString["Email"] : "")&Mobile=@(Request.QueryString["Mobile"] != null ? Request.QueryString["Mobile"] : "")&Gender=@(Request.QueryString["Gender"] != null ? Request.QueryString["Gender"] : "")&IsMobileVerified=@(Request.QueryString["IsMobileVerified"] != null ? Request.QueryString["IsMobileVerified"] : null)&IsActive=@(Request.QueryString["IsActive"] != null ? Request.QueryString["IsActive"] : "")&IsVerified=@(Request.QueryString["IsVerified"] != null ? Request.QueryString["IsVerified"] : "")&IsAvaiable=@(Request.QueryString["IsAvaiable"] != null ? Request.QueryString["IsAvaiable"] : "")&IsOnRide=@(Request.QueryString["IsOnRide"] != null ? Request.QueryString["IsOnRide"] : "")"> &raquo;</a>
                                </li>
                            }
                            else
                            {
                                <li class="disabled"><a href="javascript:void(0);"> &raquo;</a></li>
                            }
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>
                @********************************************************************************@
            </div>
        </div>


    </section>

                                        }
@section Scripts{

    <script src="~/Scripts/jquery-1.10.2.js"></script>

    <script type="text/javascript">

        // Read a page's GET URL variables and return them as an associative array.
        function getColumnValueByQuertyString() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }

        function setQueryStringValue(columnName) {
            var varName = getColumnValueByQuertyString()[columnName];
            if (typeof (varName) != 'undefined') {
                $("#" + columnName).val(varName);
            }
        }

        $(document).ready(function () {
            var mySearchFields = ["Name", "Email", "Mobile", "Gender", "IsMobileVerified", "IsActive", "IsVerified", "IsAvaiable", "IsOnRide"];
            //var sidebarCollapse = "sidebar-collapse";

            //var bodyClass = $("body").attr("class");
            //if (bodyClass.indexOf(sidebarCollapse) < 0) {
            //    bodyClass += " hold-transition " + sidebarCollapse + " fixed"
            //    $("body").attr("class", bodyClass)
            //}
            //$('.sidebar-toggle').hide();
            //$('.navbar-custom-menu').hide();

            $("body").addClass('sidebar-collapse');

            mySearchFields.forEach(function (searchFieldsName) {
                setQueryStringValue(searchFieldsName);
            });           

        });
    </script>
}
